#banner{
  background-image: url("../../images/web.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  position: relative;
  color: white;
}

.card, .card-body{
  border: 0;
}

#banner > h3{
  padding: 20px;
}

#btnRedirectLogin{
  padding-bottom: 10px;
}

.card > .card-body > .row > .col-md-8{
  padding: 20px;
}

.section-register{
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
  padding: 15px;
}

h4.section-register-title{
  text-align: left;
}
