/* Hoja de RESET */
* {
	margin: 0;
	padding: 0;
	font-family: Mitr;
}

body {
	background: #f0f0f0;
}

h3 {
	font-size: 1.8em;
	padding-bottom: 5px;
}

.error-message {
	font-size: 0.85em;
	color: red;
	padding-bottom: 15px;
}

.white-line {
	background: white;
}

.annotation {
	color: gray;
	font-size: 0.8em;
}

.container-fluid {
	margin: 100px auto;
}

.col-md-8 {
	margin: 0 auto;
}

.row {
	margin: 0;
}

.card {
	margin: 0 auto;
	text-align: center;
}

.card-body {
	padding: 0;
}

.input-group, select{
	background: #F4F8F7;
	padding: 10px;
	width: 100%;
	border-radius: 5px;
}

select, select:hover, select:focus{
	border: none;
	outline: none;
	box-shadow: none;
}

.input-group-text {
	background: transparent;
	border: 0;
}

.input-group-prepend input, .input-group-prepend input:hover,
	.input-group-prepend input:focus {
	background: transparent;
	border: 0;
	outline: none;
	box-shadow: none;
}

.input-group.textarea span{
	align-items: normal;
}

.input-group textarea, .input-group textarea:hover, .input-group textarea:focus
	{
	background: transparent;
	border: 0;
	outline: none;
	box-shadow: none;
}

.nav.nav-pills.nav-justified{
	margin-top: 5px;
}

.nav.nav-pills.nav-justified > .nav-item.nav-link{
	color: rgba(255,255,255,0.5);
}

.nav.nav-pills.nav-justified > .nav-item.nav-link.active{
	background: none;
	color: white;
}

.alert.alert-danger .close {
	color: red;
}