<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmins.jcp.org/xml/ns/javaee"
	xmlns:web="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<display-name>PMP - Programming Market Place</display-name>
	<welcome-file-list>
		<welcome-file>views/auth/login.jsp</welcome-file>
	</welcome-file-list>
	
	<servlet>
		<servlet-name>login.jsp</servlet-name>
		<jsp-file>/views/auth/login.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>login.jsp</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>register.jsp</servlet-name>
		<jsp-file>/views/auth/register.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>register.jsp</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>forget-password.jsp</servlet-name>
		<jsp-file>/views/auth/forget-password.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>forget-password.jsp</servlet-name>
		<url-pattern>/forget-password</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>home.jsp</servlet-name>
		<jsp-file>/views/home/home.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>home.jsp</servlet-name>
		<url-pattern>/home</url-pattern>
	</servlet-mapping>
</web-app>